<!DOCTYPE html>
<html>
<head>
    <title>jQuery AJAX POST Form</title>
    <meta charset="utf-8">
</head>
<body>

<div id="response">
    <pre></pre>
</div>

<form id="my-form">
    <input type="text" id="first-name" name="first-name" placeholder="First Name" />
    <input type="text" id="last-name" name="last-name" placeholder="Last Name" />

    <button type="submit">Submit</button>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    (function($){
        function processForm( e ){

        $.ajax({
            url: '{{api_url}}/api/test',
            type: "POST",
            crossDomain: true,
            data: JSON.stringify({
                title: $("#first-name").val(),
                session: "{{session['session']}}",
                username: "{{session['user']}}",
                action: $("#last-name").val()
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                 alert(response);
            },
            error: function (xhr, status) {
              alert(status);

            }

        });
            e.preventDefault();
        }

        $('#my-form').submit( processForm );
    })(jQuery);
</script>
</body>
</html>
