{% extends "index.html" %}
{% block content %}
<h1>Friends</h1>
<p>This is your friendlist, enter the name of a friend you want to add. Once you've added a friend, you will show up as an unconfirmed friend on their home page. Once you have added each other, you will be able to access their lounge and they wil be able to access your lounge.</p>.

<table class="table table-hover">
    <thead>
    <tr>
        <th>Your friends</th>
    </tr>
    </thead>
    <tbody id="friendlist">
    {% if friends|length > 0 %}
	    {% for friend in friends %}
	    <tr class="frienditem" id="{{friend}}">
	    <td><p>{{friend}}</p></td>
            <td><button type="button" onClick="removeFriend('{{friend}}')"
                        class="btn btn-primary">Remove</button></td>
	    </tr>
	    {% endfor %}
    {% endif %}
    </tbody>
</table>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Pending requests</th>
    </tr>
    </thead>
    <tbody id="pendinglist">
    {% if pending|length > 0 %}
	    {% for friend in pending %}
	    <tr class="pendingitem" id="{{friend}}">
	    <td><p>{{friend}}</p></td>
            <td><button type="button" onClick="addFriendValue('{{friend}}')"
                        class="btn btn-success">Add</button></td>
	    </tr>
	    {% endfor %}
    {% endif %}
    </tbody>
</table>

<div class="input-group">
	<span class="input-group-btn">
		<button class="btn btn-success" onClick="addFriend()" type="button">Add</button>
	</span>
	<input type="text" id="namefield" class="form-control">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
	function removeFriend(friendname) {
		$.ajax({url: '{{config.api_url}}/api/friends',
			type: 'POST',
			crossDomain: true,
			data: JSON.stringify({
				username: "{{session['user']}}",
				session: "{{session['session']}}",
				action: 'DELETE',
				friend: friendname}),
			contentType: "application/json",
			dataType: "json",
			success: function (response) {
				if (response.status == 'FRIEND_DELETED') {
					$('#'+friendname).remove();	
					location.reload();
				} else console.log("Status:"+response.status);
				},
			error: function (response) {} });
	}

	function addFriend() {
		friendname = document.getElementById('namefield').value;
		addFriendValue(friendname);
	}
/*
		$.ajax({url: '{{config.api_url}}/api/friends',
			type: 'POST',
			crossDomain: true,
			data: JSON.stringify({
				username: "{{session['user']}}",
				session: "{{session['session']}}",
				action: 'ADD',
				friend: friendname}),
			contentType: "application/json",
			dataType: "json",
			success: function (response) {
				if (response.status == 'FRIEND_ADDED')
					$("#friendlist").append('<tr class="frienditem" id="'+friendname+'"><td><p>'+friendname+'</p></td><td><button type="button" onClick="removeFriend(\''+friendname+'\')" class="btn btn-primary">Remove</button></td></tr>');
				else if (response.status == 'NO_SUCH_USER')
					alert("There is no such user, make sure that you have spelled the name correctly and try again.");
				else console.log("Status: "+response.status);
				},
			error: function (response) {} });
		*/
	function addFriendValue(name) {
		friendname = name;

		$.ajax({url: '{{config.api_url}}/api/friends',
			type: 'POST',
			crossDomain: true,
			data: JSON.stringify({
				username: "{{session['user']}}",
				session: "{{session['session']}}",
				action: 'ADD',
				friend: friendname}),
			contentType: "application/json",
			dataType: "json",
			success: function (response) {
				if (response.status == 'FRIEND_ADDED') {
					$("#friendlist").append('<tr class="frienditem" id="'+friendname+'"><td><p>'+friendname+'</p></td><td><button type="button" onClick="removeFriend(\''+friendname+'\')" class="btn btn-primary">Remove</button></td></tr>');
					location.reload();
				} else if (response.status == 'NO_SUCH_USER')
					alert("There is no such user, make sure that you have spelled the name correctly and try again.");
				else console.log("Status: "+response.status);
				},
			error: function (response) {} });
	}
</script>
{% endblock %}

