{% extends "index.html" %}
{% block content %}

<audio id="audio" controls="controls" style="display:none;">
	<source id="oggSource" src="" type="audio/ogg"></source>
	Your browser cannot use the HTML5 audio element!
</audio>

<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>

    </tr>
    </thead>
    <tbody>
    {% if items == None%}
    Nothing in playlist
    {%else%}
    {% for item in items %}

    <tr>
        <td>{{item.id}}</td>
        <td>
		<a id="link{{item.id}}" name="{{item.id}}" title="Switch to this song"
		 href="#" onclick="setSong('{{item.path|safe}}');return false;">{{item.name}}</a>
	    </td>
        <td>
        <button type="button" name="DELETE" id="{{item.id}}" onClick="send(this.id, this.name)"
                class="btn btn-primary">Remove
        </button>
        </td>

    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
<form action = "{{url_for('upload', playlist_id=playlist)}}" method = "POST"
	enctype = "multipart/form-data">
	<label class="btn btn-default btn-file">
		Select one or more .ogg files<input type = "file" name = "file" style="display:none;" accept="audio/ogg" multiple />
	</label>
	<input type = "submit" class="btn btn-primary"/>
</form>
<script>
	function setSong(song) {
		var audio = document.getElementById('audio');
		var source = document.getElementById('oggSource');
		source.src = "{{config.showtime_url}}/ogg/"+song;
		audio.load();
		audio.play();
	}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    function send(clicked_id, action){
    var track_id= null;
    if(action == "DELETE"){
        track_id= document.getElementById("link"+clicked_id).getAttribute("name");
    }
        $.ajax({
            url: '{{api_url}}/api/music/0',
            type: "POST",
            crossDomain: true,
            data: JSON.stringify({
                track_id: track_id,
                session: "{{session['session']}}",
                username: "{{session['user']}}",
                action: action
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                 location.reload();
            },
            error: function (xhr, status) {
              alert(status);

            }

        });
    }
</script>

{% endblock %}
