{% extends "index.html" %}
{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% if items == None%}
    Nothing in playlist
    {%else%}
    {% for item in items %}

    <tr>
        <td>{{item.id}}</td>
        <td><a href="/music/{{item.id}}">{{item.name}}</a></td>
        <td contenteditable='true'>This is edible</td>
        <td><button type="button" name = "1" id="{{item.id}}" class="btn btn-primary">Remove</button></td>

    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>

<div id="response">
    <pre></pre>
</div>

<div class="table-responsive">
    <table class="table table-hover" id="dynamic_field">
    </table>
    <input type="button" name="submit" id="submit" class="btn btn-info" value="Submit"/>
    <button type="button" name="add" id="add" class="btn btn-success">Add playlist</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var i=1;
    $('#add').click(function(){
           i++;
           $('#dynamic_field').append('<tr id="row'+i+'"><td><input type="text" id="one'+i+'" name="name[]" placeholder="Enter name" class="form-control name_list" /></td><td><button type="button" name="add" id="'+i+'" onClick="send(this.id)" class="btn-success">Create</button></td></tr>');
    });
});
    function send(clicked_id){
        var action = document.getElementById('one'+clicked_id+'').getAttribute("type");
        alert(action);
        $.ajax({
            url: '{{api_url}}/api/test',
            type: "POST",
            crossDomain: true,
            data: JSON.stringify({
                title: $('#one'+clicked_id+'').val(),
                session: "{{session['session']}}",
                username: "{{session['user']}}",
                action: "ADD"
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                 alert(response.status);
            },
            error: function (xhr, status) {
              alert(status);

            }

        });
        $('#one'+clicked_id+'').replaceWith("<div>"+$('#one'+clicked_id+'').val()+"</div>");
    }
</script>
{% endblock %}





