{% extends "index.html" %}
{% block content %}
<h1>Playlists</h1>
<p>Here you can manage your playlists, to add music to a playlist, click on its link.</p>

<div class="table-responsive">
    <table class="table table-hover" id="dynamic_field">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% if items == None or items | length <= 0 %}
        <td>You don't have any playlists yet.</td><td></td>
        {%else%}
        {% for item in items %}

        <tr>
            <td>{{item.id}}</td>
            <td><a name="{{item.name}}" id="title{{item.id}}" href="/music/{{item.id}}">{{item.name}}</a></td>
            <td>
                <button type="button" name="DELETE" id="{{item.id}}" onClick="send(this.id, this.name)"
                        class="btn btn-primary">Remove
                </button>
            </td>

        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <button type="button" name="add" id="add" class="btn btn-success">Add playlist</button>
    <p></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
    var i=1;
    $('#add').click(function(){
           i++;

           $('p').append('<input type="text" id="one'+i+'" name="name[]" placeholder="Enter name" class="form-control name_list" /><button type="button" name="ADD" id="'+i+'" onClick="send(this.id, this.name)" class="btn btn-success">Create</button>');
    });
});
    function send(clicked_id, action){
    var title= null;
    if(action == "DELETE"){
        title = clicked_id;
    }
    else{
        title = $('#one'+clicked_id+'').val();
    }
        $.ajax({
            url: '{{api_url}}/api/playlist',
            type: "POST",
            crossDomain: true,
            data: JSON.stringify({
                title: title,
                session: "{{session['session']}}",
                username: "{{session['user']}}",
                action: action
            }),
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                location.reload();
            },
            error: function (xhr, status) {
              alert(status);
            }
        });



    }

</script>
{% endblock %}





