div.navbar {
	width: 100%;
	top: 0px;
	left:0px;
	background: #2e271d;
	background: rgba(46,49,29,.75);
	position:fixed;
	margin: auto auto;
	z-index: 9999;
}
div.navbuttoncontainer {
	margin-top:8px;
	margin-left:43%;
}
a {
	color: inherit;
	font-family: sans-serif;
	text-decoration: none;
}
div.navbutton {
	height: 32px;
	width: 64px;
	float:left;
}
div.navbutton {color: #888;}
div.navbutton:visited {color: #888;}
div.navbutton:hover {color: white;}
div.active {
	color: #ddd;
	text-decoration: underline;
}
