# Edit and copy this file to config.py before launching!

from os import urandom

class Config:
	""" Defines settings for the frontend server. """
	api_url = None		 # backend API address
	secret_key = None	 # frontend session secret
	ssl_context = None	 # ssl context tuple
	api_key = None		 # in-service api-key

	openid_address = None	 # address for openid validation
	openid_api_key = None	 # openid api-key
	showtime_url = None	 # address to showtime server
	tmp_folder = None	 # temporary files folder


	host = None		 #listen address
	port = None		 #listen port
	
	def __init__(self):
		""" Defines your custom values in here, for instance. """
		self.host = "0.0.0.0"
		self.port = 8080
		self.ssl_context = ('cert.pem', 'privkey.pem')
		self.api_key = "YourAPIKeyHere"
		
		self.openid_address = "http://steamcommunity.com/openid"
		self.openid_api_key = "YourSteamAPIKeyHere"

		#set this to match your backseat setup
		self.api_url = "https://yourapidomain.tld"
		self.showtime_url = "https://yourshowtimedomain.tld"
		self.tmp_folder = "your/temp/audio/folder/here"

		#this key is used to build the sessions for the front-end only
		#by selecting a different key every time the server is restarted,
		#using time for instance, the session should be invalidated
		self.secret_key = urandom(24)
